<!--alerts-->
<div class="col pb-3">

    <hr>
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <strong>Well done!</strong> You are using a awesome template! <a href="#" class="alert-link">Say
            Hi
            to Porto </a>.
    </div>
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <strong>Oh snap!</strong> Are you using other template? <a href="#" class="alert-link">Buy Porto
            now</a> and make your customers a lot
        happier.
    </div>

    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <strong><i class="fas fa-exclamation-triangle"></i>Oh snap!</strong> Change
        a few
        things up and try submitting again.
        <ul>
            <li>Inform your username.</li>
            <li>Inform your password.</li>
        </ul>
    </div>
</div>
<!--alerts-->