<!--footer-->
<footer id="footer">
  <!--down tagbar if need it-->
  <section class="section border-0 m-0 bg-color-dark-scale-5">
    <div class="container container-xl-custom">
      <div class="row">
        <div class="col text-center">
          <div class="owl-carousel owl-theme nav-color-quaternary stage-margin nav-style-5 m-0"
            data-plugin-options="{'items': 6, 'margin': 5, 'loop': false, 'nav': true, 'dots': false, 'stagePadding': 40}">
            {% for tag in tags %}
            <div class="px-3">
              <a href="{{tag.get_URL}}"
                class="btn btn-dark w-100 py-3 btn-rounded text-2 text-uppercase font-weight-bold">
                {{ tag }}
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--down tagbar if need it-->
  <div class="container">
    <div class="footer-ribbon">
      <span>Get in Touch</span>
    </div>
    <div class="row py-5 my-4">
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
        <h5 class="text-3 mb-3">ABOUT THE BLOG</h5>
        <p class="text-3">{{blog_info.about|linebreaksbr}}</p>
      </div>
      <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
        <h5 class="text-3 mb-3">RECENT Articles</h5>
        <ul class="list-unstyled mb-0">
          {% for article in recent_articles %}
          <li class="d-flex">
            <article class="d-flex">
              <a href="{{article.get_URL}}">
                <img class="me-3 rounded-circle" src="{{article.multipleimages_set.filter.last.image.url}}" alt=""
                  style="max-width: 70px" />
              </a>
              <div class="media-body">
                <a href="{{article.get_URL}}">
                  <h6 class="text-3 text-color-light opacity-8 ls-0 mb-1">
                    {{article.title}}
                  </h6>
                  <p class="text-2 mb-0">{{article.created_at}}</p>
                </a>
              </div>
            </article>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-md-6 col-lg-2">
        <h5 class="text-3 mb-3">CATEGORIES</h5>
        <p>
          {% for tag in tags %}
          <a href="{{tag.get_URL}}">
            <span class="badge badge-dark bg-color-black badge-sm py-2 me-1 mb-2 text-uppercase">{{ tag }}</span>
          </a>
          {% endfor %}
        </p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container py-2">
      <div class="row py-4">
        <div class="col-lg-1 d-flex align-items-center justify-content-center justify-content-lg-start mb-2 mb-lg-0">
          <a href="{{ blog_info.footer_image.image_url}}" title="camera icons">
            <img width="82" height="40" src="{{ blog_info.footer_image.image_url}}" alt="" />
          </a>
        </div>
        <div class="col-lg-7 d-flex align-items-center justify-content-center justify-content-lg-start mb-4 mb-lg-0">
          <p>© Copyright 2023. All Rights Reserved.</p>
        </div>
        <div class="col-lg-4 d-flex align-items-center justify-content-center justify-content-lg-end">
          <nav id="sub-menu"></nav>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--footer-->
