{% extends "main.html" %}
{% block blockname %}
    <!--articles-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-posts">
                    <div class="masonry-loader masonry-loader-showing">
                        <div class="masonry row"
                             data-plugin-masonry
                             data-plugin-options="{'itemSelector': '.masonry-item'}">
                            <!--here starts the item-->
                            {% for article in object_list %}
                                <div class="masonry-item no-default-style col-sm-6">
                                    <article>
                                        <a href="{{ article.get_URL }}">
                                            <div class="thumb-info thumb-info-no-borders thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                                <div class="thumb-info-wrapper thumb-info-wrapper-opacity-6">
                                                    <div class="post-image ms-0">
                                                        <div class="owl-carousel owl-theme show-nav-hover dots-inside nav-inside nav-style-1 nav-light"
                                                             style="margin: 0px;
                                                                    max-height: 500px"
                                                             data-plugin-options="{'items': 1, 'margin': 0, 'loop': true, 'nav': true, 'dots': false, 'autoplay': true, 'autoplayTimeout': 3000}">
                                                            {% for image in article.images %}
                                                                <div>
                                                                    <div class="img-thumbnail border-0 p-0 d-block">
                                                                        <img src="{{ image.image.url }}" class="img-fluid" alt="not found" />
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                    <div class="thumb-info-title bg-transparent p-4">
                                                        <span class="thumb-info bg-transparent text-capitalize alternative-font font-weight-light">
                                                            <span class="text-5">( {{ article.total_votes }}
                                                            vote{{ article.total_votes|pluralize:'s' }} )</span>
                                                            <div class="d-block pb-2">
                                                                <input type="text"
                                                                       class="rating-invisible"
                                                                       value="{{ article.average_rating }}"
                                                                       title=""
                                                                       data-plugin-star-rating
                                                                       data-plugin-options="{'displayOnly': true, 'color': 'dark', 'size':'xs'}" />
                                                            </div>
                                                        </span>
                                                        <div class="thumb-info-type bg-transparent text-4 px-2 mb-1">
                                                            {{ article.images.count }}
                                                            <i class="far fa-image"></i>
                                                        </div>
                                                        {% for tag in article.tags.all %}
                                                            <div class="thumb-info-type bg-transparent px-2 mb-1">{{ tag.title }}</div>
                                                        {% endfor %}
                                                        <div class="thumb-info-inner mt-1">
                                                            <h2 class="text-color-light line-height-2 text-4 font-weight-bold mb-0">{{ article.title|truncatewords:7 }}</h2>
                                                        </div>
                                                        <div class="thumb-info-show-more-content">
                                                            <p class="mb-0 text-1 line-height-9 mb-1 mt-2 text-light opacity-5 d-none d-lg-block">
                                                                {{ article.description|truncatewords:50 }}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </article>
                                </div>
                            {% endfor %}
                            <!--here ends-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end of articles-->
{% endblock blockname %}
