{% extends "main.html" %}
{% block blockname %}
    <!--login register-->
    <section>
        <div class="container py-4">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-5 mb-5 mb-lg-0">
                    <h2 class="font-weight-bold text-5 mb-0">Password reset complete</h2>
                    <h2 class="font-weight-bold text-5 mb-0">Your password has been set. You may go ahead and log in now.</h2>
                    <div class="form-group col-md-auto">
                        <a class="text-decoration-none text-color-dark text-color-hover-primary font-weight-semibold text-2"
                           href="{% url 'login' %}">Sign In</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--login register-->
{% endblock blockname %}
